#board {
  border: 1px solid purple;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  /* box-shadow: 0 0 20px 5px purple; */
  transition: transform;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.row {
  display: flex;
  flex-direction: row;
}

