#board {
  border: 5px solid rgba(0, 0, 0, 0.1);;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all var(--tetris-mode-exit-transition) ease;
}

.row {
  display: flex;
  flex-direction: row;
}

