#board, #next-queue, .hud-item {
  border: 1px solid purple;
  background-color: rgba(0, 0, 0, 0.7);
}

#next-queue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#board {
  position: relative;
  /* box-shadow: 0 0 20px 5px purple; */
  transition: transform;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.row {
  display: flex;
  flex-direction: row;
}

#hud {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.queued-tile {
  position: absolute;
}

#level-selector {
  position: absolute;
  flex-direction: column;
  z-index: 1;
  display: none;
}

.level-selector-btn {
  width: 3em !important;
  text-align: center;
  margin: 0.5em !important;
}
