.tile {
  height: var(--tileHeight);
  width: var(--tileWidth);
  /* background-color: black; */
}


.falling-tile {
  height: var(--tileHeight);
  width: var(--tileWidth);
  position: absolute;
  display: none;
}

.I, .O, .J, .L, .S, .Z, .T {
  /* background-color: transparent !important;
  border: 1px solid white !important; */

  border: 1px solid black;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 1px white;
  transition: background-color 1s ease;
}

.I.tetris, 
.O.tetris, 
.J.tetris, 
.L.tetris, 
.S.tetris,
.Z.tetris,
.T.tetris {
  animation: tetris;
  border-color: white;
  animation-duration: var(--tetris-duration);
}

._.tetris {
  animation: tetrisEmpty;
  animation-duration: var(--tetris-duration);
}

@keyframes tetris {
  50% {
    background-color: white;
    border-color: white;
    box-shadow: unset;
  }
  100% {
    background-color: transparent;
    box-shadow: unset;
  }
}

.I.tetris-mode, 
.O.tetris-mode, 
.J.tetris-mode, 
.L.tetris-mode, 
.S.tetris-mode,
.Z.tetris-mode,
.T.tetris-mode  {
  transition: background-color 1s ease-out;
  border: 1px solid white;
  /* border-style: ; */
  background-color: transparent;
  box-shadow: 0 0 20px 1px gold;
}

.transition {
  transition: background-color var(--tetris-mode-exit-transition) ease-out; 
}

.falling-shadow {
  border-top: inset 3px solid white !important;
  position: relative;
  /* background-color: transparent !important; */
}

.falling-shadow::after {
  opacity: 1;
  position: absolute;
  background-color: white;
  height: 1px;
  width: 2.2em;
  margin-top: -5px;
  content: '';
  border-top: 3px solid white !important;
  box-shadow: 0px 0px 10px 6px cyan;
}

.falling-shadow-bot {
  border-bottom: 3px solid white !important;
  position: relative;
  background-color: transparent !important;
  /* background-color: transparent !important; */
}

.falling-shadow-bot::after {
  opacity: 1;
  position: absolute;
  background-color: white;
  height: 1px;
  width: 2.2em;
  top: 1.7em;
  content: '';
  border-top: 3px solid white !important;
  box-shadow: 0px 0px 10px 6px cyan;
}

.kaboom {
  animation: kaboom;
  opacity: 0;
  animation-timing-function: ease-out;
  animation-duration: var(--kaboom-duration);
  background-color: white !important;
  border: 1px solid white;
  position: absolute;
}

@keyframes kaboom {
  0% { 
    opacity: 1;
    transform: rotate(0deg) translate(0px, 0px);
  } 
  100% {
    transform: rotate(var(--spin)) translate(var(--distX), var(--distY));
  }
}

.I {
  background-color: white;
}

.O {
  background-color: red;
}

.J {
  background-color: blue;
}

.L {
  background-color: green;
}

.S {
  background-color: yellow;
}

.Z {
  background-color: purple;
}

.T {
  background-color: cyan;
}