.tile {
  height: 1.9em;
  width: 2.2em;
  background-color: black;
}

.I, .O, .J, .L, .S, .Z, .T {
  /* animation style: */
  /* background-color: transparent !important; */
  /* border: 1px solid white; */

  border: 1px solid black;
  border-radius: 2px;
}

.I {
  background-color: white;
}

.O {
  background-color: red;
}

.J {
  background-color: blue;
}

.L {
  background-color: green;
}

.S {
  background-color: yellow;
}

.Z {
  background-color: purple;
}

.T {
  background-color: cyan;
}