.tile {
  height: var(--tileHeight);
  width: var(--tileWidth);
  will-change: background-color, -moz-transform, -webkit-transform, transform, opacity;
}

.falling-tile {
  height: var(--tileHeight);
  width: var(--tileWidth);
  position: absolute;
  will-change: -moz-transform, -webkit-transform, transform, background-color;
  transition: transform var(--falling-transition-duration), opacity var(--falling-transition-duration) !important;
  -moz-transition: transform var(--falling-transition-duration), opacity var(--falling-transition-duration) !important;
  -webkit-transition: transform var(--falling-transition-duration), opacity var(--falling-transition-duration) !important;
  transition-timing-function: linear;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  display: none;
}

.I, .O, .J, .L, .S, .Z, .T {
  border: 1px solid black;
  /* border-radius: 2px; */
  box-shadow: inset 0 0 1px 1px white;
  transition: background-color 0.3s ease;
}

@keyframes tetris {
  0% {
    border-color: white;
    box-shadow: none;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

.kaboom {
  animation: kaboom;
  -webkit-animation: kaboom;
  -moz-animation: kaboom;
  opacity: 0;
  animation-timing-function: ease-out;
  animation-duration: var(--kaboom-duration);
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
  position: absolute;
}

@keyframes kaboom {
  0% { 
    opacity: 1;
    transform: translate(0px, 0px) translateZ(0);
    -webkit-transform: translate(0px, 0px) translateZ(0);
    -moz-transform: translate(0px, 0px) translateZ(0);
  } 
  100% {
    transform: translate(var(--distX), var(--distY)) scale(1.5, 1.5) translateZ(0);
    -webkit-transform: translate(var(--distX), var(--distY)) scale(1.5, 1.5) translateZ(0);
    -moz-transform: translate(var(--distX), var(--distY)) scale(1.5, 1.5) translateZ(0);
  }
}

.I {
  background-color: white;
}

.O {
  background-color: red;
}

.J {
  background-color: blue;
}

.L {
  background-color: green;
}

.S {
  background-color: yellow;
}

.Z {
  background-color: purple;
}

.T {
  background-color: cyan;
}