* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  background-color: transparent;
  /* transition: */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#bg {
  background-color: black;
  background-image: url('/src/assets/seamless.jpg');
  background-position: fixed;
  position: absolute;
  height: 1000vh;
  width: 1000vw;
  left: -500vw;
  top: -500vh;
  animation: space_float;
  animation-duration: 1600s;
  animation-iteration-count: infinite;
}

body {
  overflow: hidden;
  background-color: black;
}

:root {
  --tileHeight: 1.9em;
  --tileWidth: 2.2em;
  --spin: 0deg;
  --distY: 20px;
  --distX: 40px; 
  --kaboom-duration: 1000;
  --tetris-duration: 1000;
}

@keyframes space_float {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes space_travel_left {
  50% { transform: rotate(5deg);
  }
  100% { transform: rotate(10deg);
  }
}

@keyframes space_travel_right {
  50% { transform: translate(12.5vw, 12.5vh) rotate(-5deg);
  }
  100% { transform: translate(25vw, 25vh) rotate(-10deg);
  }
}