* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  background-image: url('/src/assets/stars.jpg');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  overflow: hidden;
}

:root {
  --tileHeight: 1.9em;
  --tileWidth: 2.2em;
  --distY: 200px;
  --distX: 400px; 
  --duration: 1000;
}